body {
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
}

h1 { 
    color: black; 
    font-family: 'Lato', sans-serif; 
    font-size: 54px; 
    font-weight: 300; 
    line-height: 58px; 
    margin: 2%;
}

footer {
	font-size: 14px;
	color: #515151;
	width: auto;
	padding: 20px;
	text-align: center;
}

.topnav {
    list-style-type: none;
    margin: 1%;
    padding: 0;
    overflow: hidden;
    background-color: rgb(36, 36, 36);
    /* border: 1px solid #e7e7e7; */
}
  
li {
	float: left;
}
  
li a {
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover:not(.active), a:focus:not(.active), .active {
	color: rgb(36, 36, 36);
    background-color: whitesmoke;
}

p {
    color: black; 
    font-family: 'Roboto', sans-serif;
    font-size: 16px; 
    line-height: 26px; 
    text-indent: 30px; 
    margin: 1%;
}

h2 {
	font-size: 20px;
	text-indent: 1%;
	position: relative;
	top: 2%;
}

.poster {
	float: left;
}

.sec{
	margin: 2%;
	height: 200px;
	width: 100%;
}

.skip{
	position: relative;
	left: -2000px;
}

.skip:focus{
	position: static;
}